{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include 'usuarios/_head.html' %}
</head>

<body>
    {% include 'usuarios/_header-menu-lateral.html' %}
            <section class="galeria" style="margin-left: 5em">
                <form action="{% url 'cadastro' %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        {% for field in form.visible_fields %}
                        <div class="col-12 col-lg-6" style="margin-bottom: 10px;">
                            <label for="{{ field.id_for_label}}" style="color:#D9D9D9; margin-bottom: 5px;"><b>{{field.label}}</b></label>
                            {{ field }}
                        </div>
                        {% for error in field.errors %}
                        <div class="alert alert2-warning">
                            {{ error }}
                        </div>
                        {% endfor %}
                        {% endfor %}                     
                            </div>
                        <div class="col-12 text-center">
                            <button class="btn btn-success col-12" style="padding: top 5px;" type="submit">Criar sua conta</button>
                        </div>
                    </div>
                </form>
            </section>
        </main>
    </div>
</body>

{% include 'partials/_footer.html' %}